button {
    height: 3rem;
    width: 12rem;
    font-size: 1rem;
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 0.5rem;
    border: 1px white solid;;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    border: 1rem black solid;;
  }

.nameContainer{ 
    color: white; 
    text-align: center;
    font-size: 4rem; 
}